@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  
}
:root{
       /* --color-primary: "rgba(2, 8, 23, 1)";
        --color-text: "rgba(148, 163, 184, 1)";
        --color-hover: "rgba(248 , 250 , 252 ,1)"; */
}

/* Tùy chỉnh thanh cuộn */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background:rgba(2, 8, 23, 1) ;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
